doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    nav
      ul
        li
          a(href='/game-save') Add game
        li
          a(href='/cards') Cards
    block content
