doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    nav
      ul
        li
          a(href='/game-save') Add game
        li
          a(href="#") Games
          ul
            each s in seasonMenu 
              li
                a(href='/games?start=' + s.start + '&end=' + s.end)= s.name
        li
          a(href='/cards') Cards
          ul 
            each s in seasonMenu 
              li
                a(href='/cards?start=' + s.start + '&end=' + s.end)= s.name
        li 
          a(href='/season') Seasons
    block content
